<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='homepage.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <div class="topnav" id="myTopnav">
    <a href="#home">Add Crash</a>
    <a href="#news">List Crash</a>
    <a href="#contact">Delete All Crash</a>
    <a href="#about">Classify Crash</a>
</div>
</head>
<body>
     {% block body %}{% endblock  %}

</body>
</html>
