{% extends 'layout.jinja2' %}
{% block body %}
<body>
        <div>
             <div id="content">
                <ul>
                    {% for crash in crash_list %}
                     <li><a href="{{ '/get_crash/%s' % crash._id }}">{{ crash.crash_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</body>
{% endblock  %}
