{% extends 'layout.jinja2' %}
{% block body %}
<body>
        <div>
             <div id="content">
                Crash Content:<strong>({{crash_content}})!</strong>
            </div>
        </div>
</body>
{% endblock  %}
