{% extends 'layout.jinja2' %}
{% block body %}
<body>
        <div>
             <div id="content">
                <ul>
                    {% for signature in signature_list %}
                    <li><a href="{{ '/get_signature/%s' % signature.uuid }}">{{ signature.signature_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</body>
{% endblock  %}
