{% extends 'layout.jinja2' %}
{% block body %}
<body>
        <div>
             <div id="content">
              {% if crash_list %}
                <ul>
                    {% for crash in crash_list %}
                        <li><a href="{{ '/get_crash/%s' % crash.uuid }}">{{ crash.crash_name }}</a></li>
                    {% endfor %}
                </ul>
              {% else %}
                <h4>There are no crash in the system </h4>
              {% endif %}
            </div>
        </div>
</body>
{% endblock  %}
