{% extends 'layout.jinja2' %}
{% block body %}
<body>
        <div id="container">
            <div class="title">
                <h1>Submit your crash here</h1>
            </div>
            <div id="content">
                <form method="post" action="submit_crash">
                  <label for="crashcontent">Please enter crash content here name:</label>
                  <input type="text" name="crashcontent" /><br />
                  <input type="submit" />
                </form>
            </div>
            </div>
        </div>
    </body>
{% endblock  %}
