{% extends 'layout.jinja2' %}
{% block body %}
<body>
        <div id="container">
            <div class="title">
                <h1>Add A Crash signature here</h1>
            </div>
            <div id="content">
                <form method="post" action="submit_signature">
                 <label for="signaturename">Signature Name:</label>
                 <input type="text" name="signaturename" /><br />
                 <label> Select Crash type signature: </label>
                   <select name="signaturetype">
                        <option value="Single">Single</option>
                        <option value="Multiple">Multiple</option>
                    </select> <br />
                   <label for="signaturecontent">Signature Content:</label>
                  <input type="text" name="signaturecontent" /><br />
                  <label for="count">Number of appearances:</label>
                  <input type="text" name="count" /><br />
                  <input type="submit" />
                </form>
            </div>
            </div>
        </div>
    </body>
{% endblock  %}
